*{
    margin-bottom:20px;
}

#titleName{
    font-size:250%;
    margin-top:5%;
}


#shoptable{
    margin-top:9%;
    margin-bottom:9%;
}

.thead-color, #arrcard{
    background-color: rgb(228, 228, 228);
}

@media (min-width:1200px) {
    .shopOption > * {
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    .shopOption {
        padding-right: 5px;
    }

}

@media (max-width:1000px) {
    .shopOption {
        padding: 35px;
    }

    .shopOption > * {
        border-block: soild #979797 1px;
        padding-inline: 20px;
        padding-block: 5px;
    }
}
